main {
    background-color: #DBD0CC;
}

.badge {
    height: 15px;
    width: 15px;
    text-align: center;
    background-color: #F2994A;
}

.hero-text {
    max-width: 43%;
}

.color {
    width: 25px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.h1 {
    color: #A86A3D;
    font-size: 50px;
}

.my-10 {
    margin: 100px 0px;
}

.mt-10 {
    margin-top: 100px;
}

.px-7 {
    padding: 0px 70px;
}

.p-text {
    background-color: #e7e6e4;
}

.sub-offer {
    height: 350px;
    width: 530px;
    margin-left: -550px;
    margin-top: 50px;
    background-color: #ffffffd1;
}

.offer-text {
    color: #7B5136;
}

.footer {
    background-color: #323334;
}

@media (max-width:480px) {
    .sub-offer {
        height: auto;
        width: auto;
        margin-left: -120px;
        margin-top: 0px;
        align-items: center;
    }

    .sub-offer div a {
        font-size: 12px;
    }

}